<div style="text-align: center">
  <h1>Welcome to algorithm-challenge!</h1>
  <h2>Palindrome</h2>
</div>

<div style="text-align: center">
  <div>
    <label>Number: </label>
    <input type="number" [(ngModel)]="numberInput" />
  </div>
  <div>
    <label>is {{ numberInput }} a Palindrome: </label>
    <span>{{ Transform.isPalindrome(numberInput) }}</span>
  </div>
  <div>
    <label>{{ numberInput }} as reverse Number: </label>
    <span>{{ Transform.reverseNumber(numberInput) }}</span>
  </div>
  <div *ngIf="Transform.palindrome(numberInput) as calculation">
    <label>{{ numberInput }} as Palindrome: </label>
    <span>{{ calculation.palindrome }}</span>
    <label>
      with {{ calculation.recursionCount }} cycles to calculate it.</label
    >
  </div>
  <button (click)="savePalindrome()">Save Palindrome</button>
  <div *ngIf="palindromeId >= 0">
    <label>saved Palindrome ID: </label>
    <span>{{ palindromeId }}</span>
  </div>
</div>

<h1>API Calls:</h1>
<div>Message: {{ hello$ | async | json }}</div>

<h2>Palindromes:</h2>
<button (click)="getPalindromes()">Load Palindromes</button>
<div *ngIf="palindrome$ | async as palindromes">
  <ul>
    <li *ngFor="let palindrome of palindromes">
      ID: {{ palindrome.id }}, InputNumber: {{ palindrome.inputNumber }},
      Palindrome: {{ palindrome.palindrome }}, Cycles: {{ palindrome.cycles }}
    </li>
  </ul>
</div>
<br />
<button (click)="clearPalindromes()">Delete all Palindromes in DataBase</button>
